.header-container {
  display: flex;
  position: fixed;
  top: 0;
  padding: 33px 0 0 95px;
  z-index: 1;
  align-items: center;
}

.header-container__home-icon {
  width: 27px;
  height: 20px;
  cursor: pointer;
  margin-right: 21px;
}

.header-container__project-title {
  height: 28px;
  display: flex;
  align-items: center;
  padding-left: 21px;
  border-left: 1px solid #282828;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
